#main-page {
    display: flex;
    align-items: center;
    height: 100%;
    background: linear-gradient(#283069 50%,#59160E);
    overflow: hidden;
}

#login-form-container {
    padding: 20px;
    border-radius: 5px;
}
#logo-container {
    height: 100%;
    margin-left: 60%;
    margin-right: auto;
    width: 20%;
    min-width: 250px;
}
#logo {
    width: 20%;    
    margin-top: 30px;
    margin-bottom: 30px;
}
#logo-text {
    color: #D00000;
    text-align: center;
}

@media only screen and (prefers-color-scheme: dark) {
    html, body, #root, #app {
        background-color: #242425;
        color: white;
    }
    #logo-container {
        background-color: #242425AA;
    }
}

@media only screen and (max-width: 600px) {

    #logo-container {
        width: 100%;
        margin: 0px;
    }
  }