
.nav-bar {
    height: 50px;
}

.nav-item > .nav-link, .navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 10px;
}

.nav-item > .nav-link:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.nav-logo {
    width: 75px;
}

.nav-dropdown {
    justify-content: flex-end;
    flex-basis: auto;
    display: flex;
}

.nav-dropdown-button {
    background-color: #4b6599;
    border:none;
}

.bg-blue {
    background-color: #4485BA;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}