#main-page {
    display: flex;
    align-items: center;
    height: calc(100% - 0px);
    background: linear-gradient(#141836 50%,#59160E);
}

#login-form-container {
    width: 20%;
    margin: auto;
    padding: 10px;
    background-color: #E7E7DB;
    border: 1px solid gray;
    height: 50%;
    border-radius: 5px;
}